body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #627b8a;
}
.container{
    margin-bottom: 40vh;
    width: 65vh;
    box-shadow: 0 15px 35px rgba(50, 50, 93, .1), 0 5px 15px rgba(0, 0, 0, .07);
    padding: 2rem;
    background-color: #fff;
}
[type="checkbox"]{
    opacity: 0;
}
[type="checkbox"] + label{
    position: relative;
    padding-left: 30px;
    cursor: pointer;
    display: inline-block;
    color: #666;
    line-height: 25px;
}

[type="checkbox"] + label::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    outline: 2px solid #aaa;
    background: #fff;
}
[type="checkbox"]:checked + label::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    outline: 2px solid #5fd25f;
    background: #fff;
}
[type="checkbox"]:checked + label::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/014/455/871/original/green-check-mark-icon-on-transparent-background-free-png.png');
    background-size: contain;
    background-repeat: no-repeat;   
    transform: scale(1);
    opacity: 1;
    transition: all .3s ease;
}
[type="checkbox"]:not(:checked) + label::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 18px;
    height: 18px;
    background-image: url('https://static.vecteezy.com/system/resources/previews/014/455/871/original/green-check-mark-icon-on-transparent-background-free-png.png');
    background-size: contain;
    background-repeat: no-repeat;   
    transform: scale(0);
    opacity: 0;
}