*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    color: #fff;
}
.hero{
    width: 100%;
    height: 100vh;
    background: #04192d;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    width: 450px;
    padding: 25px 40px 25px 25px;
    border: 2px solid #fff;
    border-radius: 15px;
}
.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 30px 0;
    font-size: 24px;
}
label{
    position: relative;
    width: 50px;
    height: 50px;
}
input{
    width: 100%;
    height: 100%;
    position: absolute;
    opacity: 0;
}
label span{
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    cursor: pointer;
    border-radius: 6px;  
    border: 3px solid #fff;
}
label span::after{
    content: '';
    position: absolute;
    left: 24px;
    bottom: 10px;
    width: 0px;
    height: 0px;
    border: solid green;
    border-width: 0 6px 6px 0;
    transform: rotate(45deg);
    opacity: 0;
    transition: all 0.5s;
}
input:checked ~ span::after{
    width: 20px;
    height: 40px;
    opacity: 1;
}